body {
  font-family: Arial;
  text-align: center;
  background: #f4f6f8;
}

input, button {
  margin: 5px;
  padding: 10px;
}

button {
  background: #2c7be5;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}